/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding: 150px 0;
  background-position: 50% 0;
  background-size: auto 140%;
}
section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}

section.module.parallax-1 {
  background-image: url("https://lh3.googleusercontent.com/EMxjBmBwTeg3P0y_OuOLYnHwUqDE0sXsym7W_VSMNdW7p8ezoQ5izpZ0M6kdrbfbvF5qVj7p8g=w640-h480-no?.jpg");
}
section.module.parallax-2 {
  background-image: url("https://lh3.googleusercontent.com/udfswV6d6qOjsm4hlS1UXKSYHZwvn722tTeCvUmOlcXwyLfa0DTvdz2SelmeOZ-9y96mKIIkBO1p=w915-h657-no");
}
section.module.parallax-3 {
  background-image: url("https://lh3.googleusercontent.com/7NBFLFpjJIPhR3xE-t5h4E74nOMJWr8rwEfGSwkQdRNSpbFHa8gf2s9tgpjtPqR-qtGX-fJD4a_mbxOQ_FLFM_8neO6sK_gLD-ZxDg4AbHTatZzumcuSf_KAG0FH1mdZ9bWfJef9xPNMzBPR0U84BdphH50uHucfr4o2ahTD4X1MNhjumaJ3TPlo31sxDT_t5xXsu7cM57qUHWSOskAI2o5_Z5uUMoVYcIpdn3iwx1XKVt87V6SjUyF66pK2A1FgYNCjhnmuGApZwF75iGV_rWgJ0bSg1rlUgI002rZWbkTAN-0eWjqD97Jw0CbEfBORwmSRMVEJPiNhzKwzBPPdjiuK5TRDoACCkUcIDeZCd5z4vACCieL9OUSxot6dg9gAKiwSDrOXABR5_ys2Npo6HtcLCHtIoTqGdkGwCJyJ9AoP1rEz4vWEEOzoStLHQePly8zhVjQrXuaec8VV68eIea5Q0OH7ZYJQoxQdFmOMymjW-5_f1bExh7dgJ4nOhh6iYIdkk3RJv4DwOUVPWnyYsOp6F40j05Fw1TabzYea1PLzpbvernFmqNSpDsfjfMsRBc4WhT-IIVpkLN5EUJgD7UVByKlvXj0NJuRFmaP-YO1C8RST=w971-h728-no");
}


@media all and (min-width: 600px) {
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
